:root {
  --border-rad-lg: 5px;
  --light-text: #fcfcfc;
  
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  letter-spacing: .025em;
  scroll-behavior: smooth;
}

.welcome-container {
  float: left;
  display: flex;
  width: 65%;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  /* Horizontally center children */
  justify-content: center;
  /* Vertically center children */
  margin: 0;
}

#welcome-logo {
  width: 150px;
  margin: 0.5em 0;
}

.welcome-subtitle,
.welcome-subtitle h2 {
  margin: 0;
}

.ml6 {
  font-weight: 100 !important;
  font-family: Avenir;
  font-size: 2.25em;
}

.ml6 .text-wrapper {
  padding: 0.5em 0.35em;
  border: none;
  color: #544F4F;
  letter-spacing: .025em;
  
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
  margin-bottom: 7em;
  margin-top: 4em;
}

.ml6 .letters {
  white-space: nowrap;
}

.welcome-handprints {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
}

#welcome-handprints {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 250px;
  margin-top: 0;
}

.userAuth-container {
  position: absolute;
  right: 0;
  top: 0;
  width: 35%;
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('newb-gradient-darker.png');
  background-size: cover;
  margin-top: 2.5em;
}

#authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0em;
  width: 80%;
}

.auth-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: -0.5em;
  color: #544F4F;
}

.auth-title h1 {
  font-family: Avenir;
  font-size: 1.5em;
  font-weight: 100;
}

hr {
  width: 80%;
  height: 4px;
  background: linear-gradient(to right, transparent, #F47575, transparent);
  border: none;
  margin-top: 0;
  margin-bottom: 1em;
}


#authForm h2 {
  margin-bottom: 0;
  font-size: 1.5em !important;
  text-underline-offset: 2px !important;
}

#authForm h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
  height: 4px;
  background: linear-gradient(to right, transparent, #F47575, transparent);
}

#authForm input[type="email"],
#authForm input[type="password"],
#authForm input[type="text"] {
  resize: none;
  width: 300px;
  margin-bottom: 1em;
  height: 50px;
  border: 1px solid #544F4F;
  border-radius: var(--border-rad-lg);
  padding-left: 6px;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  font-family: Avenir;
}

#authForm input[type="text"]:focus,
#authForm input[type="email"]:focus,
#authForm input[type="password"]:focus {
  border-color: #544F4F;
  outline: none;
}

#userEmail::placeholder,
#userPassword::placeholder,
#userName::placeholder {
  color: #544F4F;
  font-family: Avenir;
  /* adjust this value as needed */
}

.password-container {
  position: relative;
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.show-icon-auth,
.hide-icon-auth {
  position: absolute;
  top: 35%;
  right: 10px;
  /* Adjust as needed */
  transform: translateY(-50%);
  cursor: pointer;
  /* Indicate it's clickable */
  height: 20px;
  margin-top: 0.15em;

}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#authForm button {
  background-color: #83BF6A;
  border-radius: var(--border-rad-lg);
  border: #83BF6A;
  color: #ffffff;
  font-weight: 800;
  width: 300px;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  margin-right: 0;
}

#authForm button:hover {
  background-color: #72a55c;
  border: #72a55c;
}

#authForm button:last-child {
  margin-right: 0;
}

.auth-alt-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.or-container {
  display: flex;
  align-items: center;
  font-family: Avenir;
}

.auth-alt-container h5 {
  text-decoration: none;
  border: 1px solid #FFD159;
  border-radius: var(--border-rad-lg);
  padding-top: 0.25em;
  padding-bottom: 0;
  margin-top: 2em;
  margin-bottom: 0em;
  width: 30px;
  font-family: Avenir;
}

.auth-alt-container hr {
  flex-grow: 1;
  /* this will make the hr expand to fill available space */
  height: 0px;
  background-color: #FFD159;
  border: 1px solid #FFD159;
  /* remove default border */
  margin: 0;
  width: 135px;
  margin-top: 1.5em;
}

.auth-alt-container a {
  color: #F47575;
  text-decoration: underline;
  text-underline-offset: 2px;
  font-family: Avenir;
}

.auth-alt-container a:hover {
  color: #d56666;
  text-decoration: none;
  cursor: pointer;
}


.auth-footer {
  margin-top: auto;
  /* Ensures the footer takes up the full width */
  /* Add any other styles you want for the footer here */
}

.layout-container {
  display: none; /* Meant to initially be hidden and then only shown once user logs in */
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.layout-container h2 {
  margin-bottom: 1em;
}

/* Sidebar styles */
.sidebar {
  width: 20%;
  background-image: url('newb-gradient-darker.png');
  background-size: cover;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  
}

.chat-history-container {
  margin-top: 0;
  height: 100%;
  width: 103%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.chat-history-container .handprints{
  margin-top: 10.5em;
}

.chat-history-container #signOutButton {
  background-color: #83BF6A;
  border-radius: var(--border-rad-lg);
  border: #83BF6A;
  color: #ffffff;
  font-weight: 800;
  width: 200px;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  margin-right: 0;
}
.chat-history-container #signOutButton:hover {
  background-color: #72a55c;
  border: #72a55c;
}



.clear-btn {
  position: relative;
  background-color: #81D3DB;
  border-radius: var(--border-rad-lg);
  border: #81D3DB ;
  color: #ffffff;
  font-weight: 800;
  width: 200px;
  padding-top: 1em;
  padding-bottom: 1em;
  border: none !important;
  color: #ffffff;
  margin-top: .5em;
  margin-bottom: 2.25em;
  text-align: center;
  font-size: .75em;
}

.clear-btn:hover {
  background: #FFD159;
  color: #ffffff;
}

.new-chat {
  width: 1.4em;
  position: absolute;
  left: 4.5em;
  top: 0.8em;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10em;
  position: relative;
  align-self: center;
  top: 90px;

}

.sidebar ul li {
  margin-bottom: 2em;
  text-align: center;
  font-family: 'Avenir', sans-serif;
}

.sidebar ul li a {
  text-decoration: none;
  color: #544F4F;
  font-weight: 300;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: var(--border-rad-lg);
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #F47575;
  text-decoration-thickness: 5px;
}

.footer-bg {
  margin-top: auto;
  text-align: center;
  width: 100%;
  height: 2em;
  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: var(--border-rad-lg);
  font-family: 'Avenir', sans-serif;
  font-weight: 100;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(3%);
}

h5 {
  margin-bottom: -1em;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 100;
  font-size: .75em;
}

h6 {
  padding-left: 5px;
  padding-right: 5px;
  font-size: .6em;
  font-weight: 100;
}

main {
  flex: 1;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}



/* Adjusting chatbot styles */
.chatbot-container {
  flex: none;
  background-color: #ffffff;
  border-radius: var(--border-rad-lg);
  display: flex;
  flex-direction: column;
  padding: .5em;
  height: 100%;
  width: 80%;
}

.chatbot-header {
  display: block;
  width: 100%;
  padding-bottom: 1em;
  margin-top: -4.5em;
}

.chatbot-header>* {
  margin: .11em;
}

h2 {
  text-align: center;
  font-size: .75em;
  padding-bottom: 1.5em;
  position: relative;
  margin-bottom: 10em;
}

h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 110%;
  height: 4px;
  background: linear-gradient(to right, transparent, #FFD159, transparent);
}

.logo {
  width: 8em;
  margin-bottom: .25em;
}

.handprints {
  width: 14em;
  height: auto;
  margin-top: 8em;
}

.chatbot-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  position: relative;
}

.chatbot-conversation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 6em;
  /* Adjust this value if necessary */
  min-height: 400px;
  max-height: calc(100vh - 50px);
  /* Adjust this value based on the space you want to allocate */
  margin: 1em 0;
  width: 100%;
  overflow-y: auto;
  /* Provides a scrollbar when content overflows */
  gap: 0;
}

.speech-ai h4,
.speech-human h4 {
  font-weight: 100;
}

.speech,
.speech-ai,
.speech-human {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  text-align: center;
  line-height: 1.5em;
  font-weight: 100;
  max-width: 50%;
  min-width: 30%;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.speech {
  display: flex;
  padding: 1em;
  margin: 5px;
  color: #ffffff;
  border-radius: var(--border-rad-lg);
  font-size: 12px;
}

.speech:first-child {
  margin: 0;
  margin-bottom: -3em;
  margin-left: 12px;
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  position: relative;
  top: -50px;
  height: 4em;
  border: none;
  border-radius: 20px 20px 20px 10px;
  font-size: 12px !important;
}

.speech-ai {
  background: #F47575;
  position: relative;
  padding: 1.25em 1em;
  align-self: flex-start !important;
  border-bottom-left-radius: 3%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 12px;
  border: none;
  border-radius: 20px 20px 20px 1px;
}

.speech-human {
  background: #81D3DB;
  padding: 1.25em 1em;
  align-self: flex-end;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-right: 12px;
  border: none;
  border-radius: 20px 20px 1px 20px;
}

/* Adding tails to chat bubbles */
.speech:first-child::before,
.speech-ai::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 20px;
  height: 20px;
  background: #F47575;
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
}

.speech:first-child::before {
  background: #F47575;
}

.speech-human::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 20px;
  height: 20px;
  background: #81D3DB;
  clip-path: polygon(100% 100%, 0 100%, 0 0);
}

.chatbot-input-container {
  display: flex;
  margin-bottom: 0;
  padding-left: 1.3em;
  padding-right: 1.3em;
  height: 4.7em;
}

input[type="text"],
button {
  background-color: transparent;
  border: 4px solid #81D3DB;
  border-radius: 10px;
  padding: 1.5em;
  margin-bottom: .5em;
  font-size: 12px;
  text-align: left;
}

input[type="text"] {
  color: #000000;
  flex: 1;
  padding-left: 10px;
  margin-right: .5em;
}


input[type="text"]:focus {
  outline: none;
}

.prompt-display-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 400px;
  margin: 0 auto;
  
}

.prompt-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background: #FFD159 !important;
  border: #FFD159 !important;
  margin-bottom: -1.75em;
}

.suggested-prompts, .prompt-toggle {
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.prompt-toggle h5 {
  margin: 0;
  padding-top: 5px;
  font-size: 1.25em;
  color: #544F4F;
  text-decoration: none !important;
  font-family: Avenir;
  font-weight: 500 !important;
}

.hide-icon {
  height: 20px;
  margin-top: 0.15em;
  margin-left: 0.35em;
}

.show-icon {
  height: 20px;
  margin-top: 0.15em;
  margin-left: 0.35em;
}

.suggested-prompts {
  display: grid;
  grid-template-columns: 475px 475px;
  gap: .5em;
  justify-content: center;
  align-content: center;
  position: absolute;
  bottom: 85px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
}

.suggestion-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eeeeee;
  align-items: center;
  border: 4px solid #eeeeee;
  color: #544F4F;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 475px;
  margin-right: .25em;
  margin-bottom: 0;
  text-align: center;
  font-size: .75em;
  font-family: 'Avenir', sans-serif;
  height: 7em;
}

.suggestion-btn h3,
.suggestion-btn h4 {
  margin: .25em;
}

h3 {
  font-weight: normal;
  font-weight: 100;
}

h4 {
  font-weight: 100;
}

.suggestion-btn:hover {
  background-color: #81D3DB;
  border: #81D3DB;
  color: #544F4F;
}

.suggestion-btn .send-btn-icon {
  width: 20px;
  height: 20px;
  margin-left: 700px;
}

button {
  color: var(--light-text);
  background-color: #81D3DB;
  cursor: pointer;
  font-weight: normal;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #544F4F;
}

button:active {
  background-color: #81D3DB;
}

button:focus {
  outline: none;
}

/* Media queries for responsiveness */

@media (min-width: 1728px) { 
  /* This is 16" Macbook Pro Specific --> 3456 physical pixels รท 2 = 1728 CSS pixels */ 
  
  .chat-history-container {
      background-color: #ffffff;
      margin-top: 0;
      height: 100%;
      width: 102%;
      border-radius: var(--border-rad-lg);
    }
  
  .handprints {
      width: 16em;
      height: auto;
      margin-top: 10.5em;
      margin-left: .8em;
      margin-right: 2em;
  }
  
  .suggested-prompts {
      display: grid;
      grid-template-columns: 655px 655px;
      gap: .5em;
      justify-content: center;
      align-content: center;
      position: absolute;
      bottom: 85px;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 40px);
      transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    }
  
    .suggestion-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: #eeeeee;
      align-items: center;
      border: 4px solid #eeeeee;
      color: #544F4F;
      cursor: pointer;
      transition: background-color 0.3s;
      width: 655px;
      margin-right: .25em;
      margin-bottom: 0;
      text-align: center;
      font-size: .75em;
      font-family: 'Avenir', sans-serif;
      height: 7em;
    }

}

@media (min-width: 769px) {
  .handprints-mobile {
      display: none;
    }
}

@media (max-width: 768px) {
  
  .welcome-container {
    display: none;
  }

  .userAuth-container {
    display: none;
  }
  
  .layout-container {
    flex-direction: column;
    min-height: 100vh;
    align-items: stretch;
  }



  .speech,
  .speech-ai,
  .speech-human {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    text-align: center;
    line-height: 1.5em;
    font-weight: 100;
    max-width: 55%;
    min-width: 52%;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  
  .logo {
    width: 8em;
    margin-top: 0em;
  }

  .prompt-display-toggle {
    display: none;
  }

  .suggested-prompts {
    display: none;
  }

  .suggestion-btn {
    display: none;
  }

  .clear-btn {
    margin-bottom: 0.5em;
    margin-top: .1em;
    background-color: #FFD159;
  }

  .new-chat {
    width: 1.25em;
    position: absolute;
    left: 2.5em;
    top: .45em;
    }

  main {
    flex: 1 1 auto;
    /* This will make sure that main takes up the available space */
  }

  .chatbot-conversation-container {
    padding: 0.5em;
    max-height: none;
  }

  .speech:first-child {
    top: 33px;
    margin-bottom: 3em;
    height: auto;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1.5px solid #544F4F;
    padding: .5em;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .sidebar ul {
    display: none;
  }

  .sidebar ul li {
    display: none;
  }

  .sidebar ul li a {
    display: none;
  }

  .sidebar ul li a:hover {
    display: none;
  }


  .chatbot-container {
    margin-left: 0;
    width: 100%;
    height: calc(100vh - 150px);
  }

  .chatbot-input-container {
    flex-direction: column;
    padding: .5em;
    height: 7.15em;
    margin-bottom: 6em;
    display: flex;
    width: 100%;
  }
  
  input[type="text"] {
    margin: 2em 0;
    margin-bottom: 1em;
    padding-top: 6em;
    padding: 1.5em;
    background-color: transparent;
    border: 3px solid #81D3DB;
    border-radius: 10px;
    font-size: 14px;
    text-align: left;
  }

  input[type="text"]:focus {
    outline: none;
  }

  .submit-btn {
    margin: -0.3em 5em;
  }

  .chatbot-conversation-container {
    padding: 1.5em;
  }

  .speech {
    font-size: .75em;
    padding: 0.7em;
  }

  .handprints {
    display: none;
  }

  .handprints-mobile {
    display: none;
  }

  /* Styling to ensure the footer stays at the bottom on mobile */
  .footer-bg {
    position: sticky;
    margin-bottom: 0.5em;
    left: 0;
    right: 0;
    transform: none;
    background-color: #eeeeee;;
    color: #544F4F;
    font-size: 1em;
    padding-top: .25em; 
    
  }
}

@media (max-width: 480px) {
  
  .welcome-container {
      display: none;
  }

  .userAuth-container {
      display: none;
  }
  
  .sidebar ul li a {
    font-size: 1.5em;
  }

  .chatbot-input-container {
    padding: 0.3em;
  }

  input[type="text"],
  button {
    padding: 0.5em;
    font-size: 14px;
  }

  .chatbot-conversation-container {
    padding: 10px;
  }

  .speech {
    font-size: 12px;
    padding: 0.5em;
  }
}

/* Submit/Send Button */
.submit-btn {
  padding-left: 14px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-btn-icon {
  height: 2em;
  width: 2em;
  margin: 0;
  padding: 0;
  display: block;
}